In [10]:
import psycopg2
from psycopg2 import Error

try:
    # Connect to an existing database
    connection = psycopg2.connect(user="postgres",
                                  password="azerty",
                                  host="127.0.0.1",
                                  port="5432",
                                  database="databasefootbal")

    # Create a cursor to perform database operations
    cursor = connection.cursor()
    # Print PostgreSQL details
    print("PostgreSQL server information")
    print(connection.get_dsn_parameters(), "\n")
    # Executing a SQL query
    cursor.execute("SELECT version();")
    # Fetch result
    record = cursor.fetchone()
    print("You are connected to - ", record, "\n")

except (Exception, Error) as error:
    print("Error while connecting to PostgreSQL", error)
finally:
    if (connection):
        cursor.close()
        connection.close()
        print("PostgreSQL connection is closed")

PostgreSQL server information
{'user': 'postgres', 'channel_binding': 'prefer', 'dbname': 'databasefootbal', 'host': '127.0.0.1', 'port': '5432', 'tty': '', 'options': '', 'sslmode': 'prefer', 'sslcompression': '0', 'ssl_min_protocol_version': 'TLSv1.2', 'gssencmode': 'prefer', 'krbsrvname': 'postgres', 'target_session_attrs': 'any'}

You are connected to -  ('PostgreSQL 13.4 on x86_64-apple-darwin, compiled by Apple clang version 11.0.3 (clang-1103.0.32.59), 64-bit',)

PostgreSQL connection is closed

In [3]:
PGHOST="localhost"
PGDATABASE="databasefootbal"
PGUSER="postgres"
PGPASSWORD="azerty"

In [5]:
import psycopg2
import sys, os
import numpy as np
import pandas as pd
import pandas.io.sql as psql

In [7]:
## ****** LOAD PSQL DATABASE ***** ##

# Set up a connection to the postgres server.
conn_string = "host="+ PGHOST +" port="+ "5432" +" dbname="+ PGDATABASE +" user=" + PGUSER \
+" password="+ PGPASSWORD
conn=psycopg2.connect(conn_string)
print("Connected!")

# Create a cursor object
cursor = conn.cursor()


def load_data(schema, table):

    sql_command = "SELECT * FROM {}.{};".format(str(schema), str(table))
    print (sql_command)

    # Load the data
    data = pd.read_sql(sql_command, conn)

    print(data.shape)
    return (data)

Connected!

In [9]:
load_data("databasefootbal.public", "soccer")

SELECT * FROM databasefootbal.public.soccer;
(45647, 24)

,index,season,date,league_id,league,team1,team2,spi1,spi2,prob1,...,importance1,importance2,score1,score2,xg1,xg2,nsxg1,nsxg2,adj_score1,adj_score2
0,0,2016,2016-07-09,7921,FA Women's Super League,Liverpool Women,Reading,51.56,50.42,0.4389,...,NaN,NaN,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2016,2016-07-10,7921,FA Women's Super League,Arsenal Women,Notts County Ladies,46.61,54.03,0.3572,...,NaN,NaN,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2016,2016-07-10,7921,FA Women's Super League,Chelsea FC Women,Birmingham City,59.85,54.64,0.4799,...,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2016,2016-07-16,7921,FA Women's Super League,Liverpool Women,Notts County Ladies,53.00,52.35,0.4289,...,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2016,2016-07-17,7921,FA Women's Super League,Chelsea FC Women,Arsenal Women,59.43,60.99,0.4124,...,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45642,45642,2021,2021-12-12,1859,Norwegian Tippeligaen,Rosenborg,Stromsgodset,42.44,26.57,0.6202,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45643,45643,2021,2021-12-12,1859,Norwegian Tippeligaen,Mjondalen,Bodo/Glimt,19.78,51.90,0.1702,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45644,45644,2021,2021-12-12,1859,Norwegian Tippeligaen,Haugesund,Molde,29.14,56.59,0.2096,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45645,45645,2021,2021-12-12,1859,Norwegian Tippeligaen,SK Brann,Sarpsborg,19.48,20.49,0.4002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45646,45646,2021,2021-12-12,1859,Norwegian Tippeligaen,Kristiansund BK,Valerenga,29.48,36.79,0.3747,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN